**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea

docker/upload
docker/library
uploads
coverage

mobile/generated
mobile/gradle.properties
mobile/*.jks
mobile/libisar.dylib
mobile/ios/build

packages/**/build
mobile/android/fastlane/report.xml
mobile/ios/fastlane/report.xml

vite.config.js.timestamp-*
.pnpm-store
.devcontainer/library
.devcontainer/.env*
*.tsbuildinfo
*.tsbuildInfo

# Ignore Immich data and database volumes
library/
postgres/

# (Optional) ปกติแล้วโปรเจกต์ระดับ Production จะ Ignore .env ด้วยเพื่อความปลอดภัย
# แต่ถ้ารอบก่อนหน้าเราเผลอ push ไปแล้ว หรืออยากให้เพื่อนในกลุ่มเห็นด้วย ก็ยังไม่ต้องใส่บรรทัดล่างนี้ครับ
# .env
